<!DOCTYPE html>
<html>
<head>
    <title>Scan Result</title>
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
</head>
<body>
    <h1>Scan Result</h1>
    <h2>Machine Info:</h2>
    <p>Name: <span id="machineName"></span></p>
    <p>Serial Number: <span id="serialNumber"></span></p>
    <button onclick="openScanner()">Scan QR Code</button>

    <script>
        function openScanner() {
            var scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
            scanner.addListener('scan', function (content) {
                var machineInfo = JSON.parse(content);
                document.getElementById('machineName').innerText = machineInfo.name;
                document.getElementById('serialNumber').innerText = machineInfo.serial_number;
                scanner.stop();
            });
            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        }
    </script>
</body>
</html>
